body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  background: url("./Images/backgroundImage.jpg");
  background-size: 100vw;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* Navbar Styling */

.navbar {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #DCFFF7;
  filter: drop-shadow(0px 4px 4px grey);
}

.home-button {
  font-family: Homenaje;
}

/*Login and Register Styling*/

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-self: center;
}

.login-box, .register-box {
  padding: 4rem;
  background-color: #DCFFF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.sign-in, .create-account {
  font-family: Homenaje;
  text-align: center;
}

.button-span {
  padding-top: 20px;
  display: flex;
}

.button-signin {
  border-radius: 20px;
  border-width: 1px;
}

/* Mobile Styling */

@media only screen and (max-width: 768px) {
  .hero-image{
    background-repeat: no-repeat;
    background-size: cover;
  }
}