body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial Black' 'Arial' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Background Image */
.bg{
  width: 100vw;
  height: 100vh;

  background: url("./Images/backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}


/* Navbar */
.navbar{
  background-color: #2c1e2a;
  filter: drop-shadow(0px 5px 5px #2c1e2a);
  height: 90px;
  padding: 30px 25px;
}

.title {
  font-family: Arial Black;
  color: #93aab5;
  margin-left: 6px;
}

.home-button{
  color: #d5b391;
  text-decoration: none;
  margin-right: 6px;
}

.logout{
  color: #d5b391;
  text-decoration: none;
  margin-right: 6px;
}



/* Login/Register Containers, as well as some Zipcode Page Buttons/Containers */
.access-container, .zip-container{
  display: flex;
	justify-content: center;
	align-items: center;
  height: 75vh;
  filter: drop-shadow(0px 5px 5px #2c1e2a);
}

.access-box, .zip-box{
  background-color: #d5b391;
  padding: 170px 50px;
}

.access-header, .header{
  font-family: Arial;
  font-weight: bold;
  color: #5f3c40;
}

input{
  background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.button-span{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  color: #5f3c40;
}


.button-signin, .swap-functions{
  border-radius: 20px;
	border: 1px solid #5f3c40;
	background-color: #5f3c40;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  display: flex;
}

.logo-container{
  background-color: #fcd3aa;
  padding: 110px 70px;
}

.logo-catchphrase{
  padding-top: 6px;
  text-align: center;
  font-family: Arial Black;
  color: #5f3c40;

}

.logo-container2{
  background-color: #fcd3aa;
  padding: 133px 70px;
}



/* Enter Zipcode/Invite Guests Pages */
.zip-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zip-button, .done-button, .inv-button, .up, .down{
  border-radius: 20px;
	border: 1px solid #5f3c40;
	background-color: #5f3c40;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-align: center;
  text-transform: uppercase;
}

.header{ 
  margin-top: 30px;
  margin-bottom: 0px;
}


/* Resturant Card Formatting */
.all-restaurants{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}


.restaurant-card{
  display: flex;
  flex-direction: column;
  background-color: #e1d9d1;
	text-align: center;
  height: 50vh;
  width: 400px;
  margin: 10px;
  filter: drop-shadow(0px 5px 5px #2c1e2a);
}

.restaurant-img{
  height: 200px;
  width: auto;
  filter: drop-shadow(0px 5px 5px #2c1e2a);
  padding-bottom: 20px;
}

.restaurant-name, .resturant-address{
  text-align: center;
}
