body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  background: url("./Images/backgroundImage.jpg");
  background-size: 100vw;
  background-position: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

/* Navbar Styling */

.navbar {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #DCFFF7;
  filter: drop-shadow(0px 4px 4px grey);
}

.home-button {
  font-family: Homenaje;
}

.title {
  font-family: Homenaje;
  color: #177784;
}

/*Login and Register Styling*/

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-self: center;
  filter: drop-shadow(0px 4px 4px grey);
}

.login-box, .register-box {
  padding: 4rem;
  background-color: #DCFFF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.sign-in, .create-account {
  font-family: Homenaje;
  text-align: center;
  color: #177784;
}

.button-span {
  padding-top: 20px;
  display: flex;
}

.button-signin {
  border-radius: 20px;
  border-width: 1px;
}

/* Home Page Styling */

.zip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  justify-self: center;
  filter: drop-shadow(0px 4px 4px grey);
}

.zip-box {
  padding: 4rem;
  background-color: #DCFFF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#zipcode {
  text-align: center;
}

/* Restraunt Styling */
.all-restaurants{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.restaurant-img{
  height: 100px;
  width: 250px;
}

.restaurant-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #DCFFF7;
    border-radius: 5px;
    padding: 10px;
}

/* Guest List Styling */
.guest-list{
  background-color: #DCFFF7;
}

.guest-title{
  text-decoration: underline;
  width: 25%;
}

/* .invitee-list{

} */

.invitee{
  list-style: none;
  text-align: center;
}

/* Mobile Styling */

@media only screen and (max-width: 768px) {
  .hero-image{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

